node_modules
.next
dist
coverage
.env
.env.local
pnpm-lock.yaml
.DS_Store
expo
.env
apps/web/.env.local
apps/mobile/.env

node_modules/
.turbo/
pnpm-debug.log*
.next/
apps/mobile/.expo/
apps/mobile/android/
apps/mobile/ios/
.env*
!.env.example
