node_modules
.next
dist
coverage
.env
.env.local
.DS_Store
expo
.env
apps/web/.env.local
apps/mobile/.env

# build caches
.turbo/
apps/web/.turbo/
apps/mobile/.turbo/

# editor
.vscode/
.DS_Store

# env
*.env
*.env.local
